.exploreMeetings{
    padding: 10px;
    //background-color: aqua;
    height: calc(100vh - 120px);
    // background-color: greenyellow;
    display: flex;
    flex-direction: column;
    .exp-uiBox{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 8px;
        gap:8px;
        .searchArea{
            display: flex;
           flex-grow: 1;
        }
        margin-bottom: 10px;
    }
    .exploreListBox{
        height: 100%;
        max-height: 90%;
        //background-color: red;
        // overflow-y: scroll;
    }
    @media (max-width:670px) {
        .exploreListBox{
            height: 100%;
            max-height: 83%;
            //background-color: red;
            // overflow-y: scroll;
        }
    }
}