.MeetingListComp{
    margin: 0px 0px;
   height: 90%;
   
   padding: 10px 0px;
//   background-color: red;
  display: flex;
  flex-direction: column;
  //overflow-y: scroll;
.uiBox{
    margin: 0px 8px;
}
}
.MeetingSearch{
    display: flex;
    gap:8px;
    padding: 10px 0px;
    margin: 0px 10px;
    
}
.MeetingListBox{
    overflow-y: auto;
    height: 100%;
    //max-height: au;
    //background-color: red;
    //height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    .MeetingList{
        display: flex;
        margin: 0px 12px;
        padding: 10px 0px;
        flex-wrap: wrap;
        
        gap: 40px;
       
       
    }
   
}
@media (max-width:670px) {
    .MeetingListBox{
        overflow-y: auto;
        //height: 100%;
        // height: 100%;
        margin-bottom: 20px;
        width: 100%;
        .MeetingList{
            display: flex;
            margin: 0px 10px;
            //padding: 20px 0px;
            flex-wrap: wrap;
            gap: 40px;
           
           
        }
       
    }
    .MeetingListComp{
        margin: 0px 0px;
        //height: 77vh;
    }
}
