@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
  font-family: 'Lato', sans-serif;
  background-color: white;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}
.err{
  color: rgb(253, 64, 64);
}
.err::before{
  content: "*";
}
.info-tag{
  color: green;
  font-size: 14px;
}
.required::before{
  content: "*";
  color: red;
}
.no-meets{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag{
  display: flex;
  margin: 8px 0px;
  padding: 4px 4px;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  width: fit-content;
  border-radius: 20px;
}
.verified{
  color: #00C400;
  background-color: #a8ffa8;
}
.warning{
  color: #e0850e;
  background-color:  #ffce89;
}