@import '@/app/variables.scss';
.paginationBox{
    display: flex;
    justify-content: right;
    gap:4px;
    width: 100%;
    margin-right: 10px;
}
.pButton{
    cursor: pointer;
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10%;
    background-color: $lg;
    border: 1px solid $button-secondary;
}
#pgBtn-active{
    background-color: $button-primary;
    color: white;
}
.pButton:active{
   background-color: $hover;
   color: white;
}