.addNewMeetingForm{
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 10px 20px;
    max-height: 510px;
    overflow-y: auto;
    .new-meeting-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        gap: 10px;
    }
}